@import 'microscope/typography';

.title-header {
  @include container-padding(normal, (padding-top, padding-bottom));

  &#{&}--no-margin-top {
    margin-top: 0;
  }

  &#{&}--no-margin-bottom {
    margin-bottom: 0;
  }

  &__title {
    @include h1;
  }
}
