{% if bound_field.help_text and help_text_position|default:'bottom' == 'top' %}
    <div class="help-text">
        <label class="help-text__body" {% if for %} for="{{ for }}"{% endif %}>{{ help_text|safe }}</label>
    </div>
{% endif %}

{{ bound_field }}
{{ bound_field.errors }}

{% if bound_field.help_text and help_text_position|default:'bottom' == 'bottom' %}
    <div class="help-text">
        <label class="help-text__body" {% if for %} for="{{ for }}"{% endif %}>{{ help_text|safe }}</label>
    </div>
{% endif %}

