@import '~microscope-sass/lib/animation';
@import '~microscope-sass/lib/color';
@import '~microscope-sass/lib/grid';
@import '~microscope-sass/lib/typography';
@import '~microscope-sass/lib/transform';
@import '~microscope-sass/lib/util';
@import '../../settings/lib/ro-shade';
@import '../header/constants';
@import '../login-bar/constants';
@import 'constants';


.navigation-bar {
  @media print {
    display: none;
  }

  @include mobile-only {
    @include animate;
    @include overlay;
    @include shadow;
    @include translate(105%);
    left: auto;
    right: 0;
    width: 90%;
    max-width: 320px;
    position: fixed;
    z-index: 1000;

    &:after {
      @include color-background();
      @include overlay;
      content: '';
      height: 110%;
      z-index: -1;
    }

    .view--menu-open & {
      @include translate(0%);
    }

    .login-bar {
      flex-shrink: 0;
    }

    &__actions {
      display: flex;
      flex-shrink: 0;
    }

    &__actions .menu {
      width: $navigation-bar-height-search !important;
      height: $navigation-bar-height-search !important;
    }

    &__actions .menu .menu {
      display: none;
      visibility: hidden;
    }

    &__body {
      display: flex;
      flex-direction: column-reverse;
      height: 100%;
    }

    .menu,
    &__body > ul { // Fixme: ul doesn't get class on empty menu.
      width: 100%;
      height: 100%;
    }

    &__body > .menu {
      overflow-y: auto;
    }


    .menu__link,
    .login-bar__link {
      @include rows(1);
      display: flex;
      align-items: center;
    }

    .menu__link {
      @include color-primary(color, true);
    }

    .login-bar {
      text-align: left;
      display: block !important;
    }
  }

  @include tablet {
    @include color-primary(background-color);
    @include container(flex, false);
    @include container--big(false);
    position: relative;
    z-index: 10;

    &--sticky {
      position: sticky;
      top: 0;
      z-index: 100;
    }

    .login-bar {
      display: none !important;
    }

    &__body {
      @include container(flex);
      justify-content: space-between;
      align-items: center;
      min-height: $navigation-bar-min-height-tablet;
      position: relative;
    }

    &--compact &__body,
    &--sticky#{&}--stuck &__body {
      min-height: $navigation-bar-min-height-tablet-stuck;
    }

    &--sticky#{&}--stuck &__body {
      padding-right: 0;
    }

    &__actions {
      @include container-padding(normal, padding-left);
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 32.5%;
      height: 100%;
    }

    .search {
      max-width: 380px;
    }

    .search--open {
      width: 100%;
    }

    &__profile {
      height: 100%;
    }

    &__profile .icon:before {
      @include color-background;
    }

    &__actions .menu .menu {
      right: 0;
    }


    &--compact .menu__link,
    &--compact .menu__label,
    &--sticky#{&}--stuck .menu__link,
    &--sticky#{&}--stuck .menu__label {
      @include body;
      @include color-background(color);
    }

    &--compact .menu__list-item--active .menu__link,
    &--sticky#{&}--stuck .menu__list-item--active .menu__link {
      @include color-primary(color);
    }

    &--dropdown {
      .menu .menu {
        @include absolute;
        @include rows(1, top);
        @include rows(1, padding-bottom);
        flex-direction: column;
        top: 100%;
        width: 100%;
        height: auto;
      }

      .menu .menu {
        @include shadow;
        @include color-background;
        @include rows(1, padding-top);
        @include rows(1, padding-bottom);
        flex-direction: column;
        z-index: -1;
        visibility: hidden;
      }

      .menu > .menu__list-item:hover .menu {
        visibility: visible;
      }

      .menu .menu:before,
      .menu .menu:after {
        display: none;
      }

      .menu .menu .menu__link {
        @include border(bottom);
        @include shade(2, border-color);
        @include columns-responsive(4, 4.5, 4, 3);
        @include rows(1, min-height);
        color: inherit!important;
        display: flex;
        align-items: center;
      }

      .menu .menu .menu__list-item .menu__link:hover {
        @include color-info(background-color);
        text-decoration: none;
      }

      .menu .menu .menu__list-item:first-child .menu__link {
        @include border(top);
      }

      .menu .menu .menu__list-item--active .menu__link {
        background-color: transparent;
        font-weight: bold;
      }

    }
  }
}
