@import '../../settings/all';
@import '~microscope-sass/lib/grid';


$footer-min-height: 330px;
$footer-padding-mobile: $grid-margin-6;
$footer-padding-tablet: $grid-margin-8;
$footer-padding-desktop: $grid-margin-10;
