@import 'microscope/color';
@import 'microscope/grid';
@import 'microscope/transform';
@import 'microscope/typography';
@import 'constants';
@import 'mixins';


.button {
  @include body;
  @include rows(1);
  @include color-background;
  @include ellipsis;
  appearance: none;
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 20px !important;
  padding: $button-padding;
  position: relative;
  text-decoration: none;

  @media print {
    display: none;
  }

  &:before,
  &:after {
    @include overlay;
    content: '';
  }

  &:after {
    background-color: $color-black;
    opacity: 0;
  }

  &[disabled]:before {
    opacity: 0.2;
  }

  &[disabled]:after {
    opacity: 0 !important;
  }

  &:active:after,
  &:focus:after,
  &:hover:after {
    opacity: 0.2;
  }

  &--no-pad,
  &--no-text {
    padding-left: 0;
    padding-right: 0;
  }

  &--small {
    @include button--small;
  }

  &--transparent {
    @include color-primary;
    @include border($position: all);
    border-color: inherit;
  }

  &__label,
  .icon {
    position: relative;
    z-index: 20;
  }

  .icon {
    @include rows(1, min-width);
  }

  &--icon-left {
    flex-direction: row-reverse;
  }

  &--icon-left .icon:not(:first-child) {
    margin-left: 0;
    margin-right: $button-spacing;
  }

  &:not(#{&}--icon-left):not(:first-child) .icon {
    margin-left: $button-spacing;
    margin-right: 0;
  }

  [type=submit],
  &--primary,
  &--active {
    @include color-background(color);

    &:before {
      @include color-primary(background-color);
    }
  }

  &--secondary {
    @include color-primary(color);

    &:before {
      @include color-secondary(background-color);
    }
  }

  &--secondary[disabled]:before {
    opacity: 1;
  }

  &--secondary[disabled] &__label {
    opacity: 0.2;
  }

  &--transparent:before {
    background-color: transparent;
  }


  &--success {
    @include color-background(color);

    &:before {
      background-color: $button-color-success;
    }
  }

  &--info {
    @include color-background(color);

    &:before {
      background-color: $button-color-info;
    }
  }

  &--warning {
    @include color-background(color);

    &:before {
      background-color: $button-color-warning;
    }
  }

  &--danger {
    @include color-background(color);

    &:before {
      background-color: $button-color-danger;
    }
  }

  @each $color-name, $color in $colors {
    &--#{$color-name} {
      @include color-background(color);

      &:before {
        background-color: $color
      }
    }
  }
}
