@import 'microscope/color';
@import 'microscope/grid';

$button-color-danger: $color-danger-dark;
$button-color-info: $color-info;
$button-color-success: $color-success-dark;
$button-height-small: $grid-margin-6;
$button-padding: 0 $grid-margin-4;
$button-spacing: $grid-margin-0;
