{% load rijkshuisstijl %}{% singleline %}

    {% comment %}

    class: Sets additional wrapper classes.
    href: Sets the link href.
    icon: Adds an icon to the button.
    icon_src: Adds an icon to the button (src).
    id: Sets the button id.
    title: Sets the button title.
    target: Sets the link target.

    {% endcomment %}

    <a class="button{% if far_icon or fas_icon or icon or icon_src %} button--icon{% endif %}{% if not label %} button--no-text{% endif %}{% if class %} {{ class }}{% endif %}"
            {% if href %} href="{{ href }}"{% endif %}
            {% if id %} id="{{ id }}"{% endif %}
            {% if target %} target="{{ target }}"{% endif %}
            {% if title %} title="{{ title }}"{% endif %}>

        {% if 'button--icon-right' in class and not 'button--no-text' in class and label %}
            <span class="button__label">{{ label }}</span>
        {% endif %}

        {% if far_icon %}
            <span class="far fa-{{ far_icon }}"></span>
        {% elif fas_icon %}
            <span class="fas fa-{{ fas_icon }}"></span>
        {% elif icon_src %}
            <span class="button__icon">{% icon src=icon_src label=label %}</span>
        {% elif icon %}
            <span class="button__icon">{% icon icon label=label %}</span>
        {% endif %}

        {% if not 'button--icon-right' in class and not 'button--no-text' in class and label %}
            <span class="button__label">{{ label }}</span>
        {% endif %}
    </a>
{% endsingleline %}
