{% extends template_base|default:'rijkshuisstijl/views/abstract/base.html' %}{% spaceless %}{% load static rijkshuisstijl %}
    {% block css %}
        {{ block.super }}
        <link rel="stylesheet" href="{% static 'rijkshuisstijl/bundles/form-css.css' %}">
        <link rel="stylesheet" href="{% static 'rijkshuisstijl/bundles/intro-css.css' %}">
        <link rel="stylesheet" href="{% static 'rijkshuisstijl/bundles/textbox-css.css' %}">
    {% endblock %}

    {% block navigation %}
        {% navigation_bar class='navigation-bar--compact navigation-bar--dropdown' %}
    {% endblock %}

    {% block content %}
        <div class="layout">
            {% block layout %}
                {% form config=form_config %}
                <br/>
            {% endblock %}
        </div>
    {% endblock %}
{% endspaceless %}
