{% extends template_base|default:'rijkshuisstijl/views/abstract/base.html' %}{% spaceless %}{% load rijkshuisstijl %}
    {% block css %}
        {{ block.super }}
        <link rel="stylesheet" href="{% static 'rijkshuisstijl/bundles/textbox-css.css' %}">
    {% endblock %}


    {% block body-class %}{{ block.super }} view--vcenter{% endblock %}
    {% block content %}
        <div class="layout layout--small">
            {% block layout %}
                {% textbox config=textbox_config %}
            {% endblock %}
        </div>
    {% endblock %}
{% endspaceless %}

