{% spaceless %}{% load i18n static rijkshuisstijl %}
    <div class="summary-list" id="{{ id }}">
        <header class="summary-list__header">
            {% if title %}
                <h2 class="summary-list__title">{{ title }}</h2>
            {% endif %}

            <a class="toggle" href="#" data-toggle-modifier="open" data-toggle-target="#{{ id }}">
                <span class="summary-list__toggle-label">{% trans 'Alles uitklappen' %}</span>
                <img class="summary-list__arrow" src="{% static 'rijkshuisstijl/components/summary/arrow.svg' %}" alt="{% trans 'pijl' %}"/>
            </a>
        </header>

        <div class="summary-list__body">
            {% for object in object_list %}
                {% firstof forloop.counter0|capfirst as index %}
                {% firstof id|add:'-summary-'|add:index as summary_id %}
                {% summary config=config id=summary_id object=object %}
                {% firstof '' as summary_id %}
            {% endfor %}
        </div>
    </div>
{% endspaceless %}
