{% spaceless %}{% load i18n %}
<form class="search{% if request.path == '/' %} search--initial{% endif %}" action="{{ search_url }}" method="post">
    <input class="search__input" id='search-input' placeholder="{{ _('Zoeken') }}" type="search">
    {% include '../button/button.html' with class='button--primary' icon='zoeken' type='button' focus_target='.search__input' toggle_target='.search' toggle_modifier='open' only %}
    {% include '../button/button.html' with class='button--secondary button--small button--transparent' icon='close' type='reset' only %}
    {% csrf_token %}
</form>
{% endspaceless %}
