@import 'microscope/animation';
@import 'microscope/color';
@import 'microscope/grid';
@import 'microscope/responsive';
@import 'microscope/typography';
@import '../../settings/color';
@import '../../settings/lib/ro-shade';
@import '../../settings/lib/sticky';


$tabs-scheme: $scheme;

.tabs {
  &--light &__link {
    @include color-background;
  }

  &--sticky &__navigation {
    @include laptop {
      @include sticky();
      z-index: 100;
    }
  }

  &__list {
    @include responsive(flex-direction, column, column, row);
    display: flex;
    justify-content: stretch;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__list-item {
    @include animate();
    @include color-primary;
    outline: 2px solid transparent;
    position: relative;
    width: 100%;
  }

  &__list-item--active {
    @include shade-color(light-blue, null, outline-color);
    z-index: 10;
  }

  &__link {
    @include border(bottom);
    @include container-padding;
    @include h3;
    @include responsive(justify-content, flex-start, flex-start, center);
    @include rows(1, height);
    @include shade-color(dark-blue, 2, background-color);
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;

    @include laptop {
      height: 60px;
    }
  }

  &__track {
    white-space: nowrap;
    overflow: hidden;
  }

  &__tab {
    @include animate();
    -webkit-overflow-scrolling: touch;
    display: inline-block;
    width: 100%;
    overflow-y: auto;
    vertical-align: top;
    visibility: hidden;
    white-space: normal;
  }

  &__tab--active {
    visibility: visible;
  }

  .list {
    @include margin(true, margin-top);
  }
}
