@import '~microscope-sass/lib/color';
@import '~microscope-sass/lib/grid';
@import '../button/constants';

$toolbar-spacing: $grid-margin-3;
$toolbar-color-background: $color-background;
$toolbar-color-border: darken($toolbar-color-background, 10);
$datagrid-filter-height: $grid-row-height;
