@import 'microscope/grid';
@import 'microscope/typography';
@import '../../settings/lib/sticky';
@import 'constants';

.toolbar {
  @include rows(1);
  @include sticky(null, top, true);
  background-color: $toolbar-color-background;
  outline: 1px solid;
  outline-color: $toolbar-color-border;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  @media print {
    display: none;
  }

  &--align-right {
    justify-content: flex-end;
  }

  &--justify {
    justify-content: space-between;
  }

  &__list,
  &__list-item {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__list:not(:last-child) {
    margin-right: $toolbar-spacing * 4;
  }

  + .datagrid {
    border-top: none;
  }

  + .key-value-table {
    @include margin(true, margin-top);
  }
}
