@import 'microscope/grid';
@import 'microscope/responsive';
@import 'microscope/transform';
@import 'microscope/typography';
@import '../../settings/lib/sticky';
@import 'constants';

.toolbar {
  @include body;
  @include rows(1, min-height);
  @include sticky(null, top, true);
  background-color: $toolbar-color-background;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 100;

  @media print {
    display: none;
  }

  &--align-right {
    justify-content: flex-end;
  }

  &--justify {
    justify-content: space-between;
  }

  &--compact {
    height: auto;
  }

  &--dark {
    background-color: darken($toolbar-color-background, 4);
  }

  &--pad {
    padding: 0 $toolbar-spacing;
  }

  &__list,
  &__list-item {
    display: flex;
    align-items: baseline;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__list:not(:last-child) {
    margin-right: $toolbar-spacing * 4;
  }

  &__label
  + .datagrid {
    border-top: none;
  }

  + .key-value-table {
    @include margin(true, margin-top);
  }

  ~ .tabs--sticky .tabs__navigation {
    @include laptop {
      @include sticky($grid-row-height);
    }
  }
}
