@import 'microscope/responsive';
@import 'microscope/grid';
@import 'constants';

.view {
  &__body {
    margin: 0;
    overflow-x: hidden;
  }

  &__content {
    @include responsive(min-height, $view-min-height-content-mobile, $view-min-height-content-tablet);
  }

  .layout {
    @include responsive(min-height, $view-min-height-content-mobile, $view-min-height-content-tablet);
    position: relative;
  }

  .navigation-bar--compact + &__content .layout {
    min-height: $view-min-height-content-tablet-compact;
  }

  &--vcenter &__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &--small .article__body,
  &--small .layout,
  &--small .login-bar__body,
  &--small .navigation-bar__body {
    @include container--small;
  }

  &--big .article__body,
  &--big .layout,
  &--big .login-bar__body,
  &--big .navigation-bar__body {
    @include container--big;
  }

  &--full-width .article__body,
  &--full-width .layout,
  &--full-width .login-bar__body,
  &--full-width .navigation-bar__body {
    max-width: 100%;
    margin: 0;
  }

  &--full-width .layout > .key-value-table {
    @include container-padding(normal, ('margin-left', 'margin-right'));
  }

  &--full-width .layout {
    padding: 0;
  }

  &--full-width .navigation-bar__body,
  &--full-width .menu {
    padding-left: 0;
  }

  &--full-width .navigation-bar__body {
    padding-right: 0;
  }

  &--full-width .datagrid__caption:first-child,
  &--full-width .datagrid__cell:first-child {
    @include container-padding($properties: padding-left);
  }

  &--full-width .datagrid__caption:last-child,
  &--full-width .datagrid__cell:last-child {
    @include container-padding($properties: padding-right);
  }

  &--full-width .form__header {
    @include mobile-only {
      @include container-padding;
    }
  }

  .header {
    @include responsive(position, sticky, static);
    top: 0;
  }

  .login-bar {
    @include hide-on-mobile;
  }
}
