@import '../../lib/responsive';
@import '../../lib/grid';
@import '../login/constants';
@import '../header/constants';
@import '../navbar/constants';
@import '../footer/constants';

$view-min-height-content-mobile: calc(100vh - #{$header-height-mobile + $footer-min-height});
$view-min-height-content-tablet: calc(100vh - #{$login-min-height + $header-height-tablet + $navbar-min-height-tablet + $footer-min-height});

.view {
  &__body {
    margin: 0;
    overflow-x: hidden;
  }

  &__content {
    @include responsive(min-height, $view-min-height-content-mobile, $view-min-height-content-tablet);
    overflow-x: hidden;
  }

  &--big .article__body,
  &--big .login__body,
  &--big .navbar__body {
    @include container--big;
  }

  .header {
    @include responsive(position, sticky, static);
    top: 0;
  }

  .login {
    @include hide-on-mobile;
  }
}
