@import 'microscope/responsive';
@import 'microscope/grid';
@import '../login-bar/constants';
@import '../header/constants';
@import '../navigation-bar/constants';
@import '../footer/constants';

$view-min-height-content-mobile: calc(100vh - #{$header-height-mobile + $footer-min-height});
$view-min-height-content-tablet: calc(100vh - #{$login-bar-min-height + $header-height-tablet + $navigation-bar-min-height-tablet + $footer-min-height});

.view {
  &__body {
    margin: 0;
    overflow-x: hidden;
  }

  &__content {
    @include responsive(min-height, $view-min-height-content-mobile, $view-min-height-content-tablet);
  }

  &--vcenter &__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &--big .article__body,
  &--big .login-bar__body,
  &--big .navigation-bar__body {
    @include container--big;
  }

  .header {
    @include responsive(position, sticky, static);
    top: 0;
  }

  .login-bar {
    @include hide-on-mobile;
  }
}
