@import 'microscope/grid';
@import 'microscope/typography';
@import '../../settings/lib/ro-shade';
@import '../form/constants';

$key-value-table-padding-caption: 1em 0 0.15em;

.key-value-table {
  border-spacing: 0;
  width: 100%;

  &__caption {
    @include h2;
    @include shade-color('dark-blue');
    font-weight: normal;
    padding: $key-value-table-padding-caption;
    text-align: left;
  }

  &__key,
  &__value {
    text-align: left;
    vertical-align: top;
    word-break: break-all;
  }

  &--justify &__key,
  &--justify &__value {
    width: 50%;
  }

  &:not(#{&}--justify) &__key {
    width: calc(#{$label-width} + #{$form-control-spacing});
  }

  &:not(#{&}--no-border) &__row:first-child &__key,
  &:not(#{&}--no-border) &__row:first-child &__value {
    @include border(top, $style: dotted);
  }

  &:not(#{&}--no-border) &__row &__key,
  &:not(#{&}--no-border) &__row &__value {
    @include border(bottom, $style: dotted);
  }

  &__key {
    @include body;
  }

  &__value {
    @include h4;
  }
}
