@import 'microscope/typography';
@import '../form/constants';

.key-value-table {
  &__key,
  &__value {
    text-align: left;
    vertical-align: top;
    word-break: break-all;
  }

  &--justify &__key,
  &--justify &__value {
    width: 50%;
  }

  &:not(#{&}--justify) &__key {
    width: calc(#{$label-width} + #{$form-control-spacing});
  }

  &__row:not(:last-child) &__key,
  &__row:not(:last-child) &__value {
    @include border(bottom, $style: dotted);
  }

  &__key {
    @include body;
  }

  &__value {
    @include h4;
  }
}
