@import '../../settings/lib/ro-shade';
@import 'microscope/color';
@import 'microscope/grid';

$checkbox-size: 20px;
$radio-size: 22px;
$checkbox-spacing: $grid-margin-0;

$errorlist-color-error: #d52b1e;
$errorlist-color-icon: $color-background;
$errorlist-height-error: 70px;
$errorlist-size-icon: 34px;

//$form-title-margin: $grid-margin-3 0 $grid-margin-0;
$form-title-margin: 60px;
//$form-subtitle-margin: 1em 0 0.15em;

$form-control-margin-top: 14px;
$form-control-spacing: 30px;

$help-text-padding-v: $grid-margin-1;

$input-color-placeholder: shade('4');
$input-padding-h: 12px;

$label-width: 144px;
