@import '../../settings/lib/ro-shade';
@import 'microscope/grid';
@import 'microscope/color';
@import 'microscope/responsive';
@import 'constants';

.form {
  &__header,
  &__body {
    @include container;
    @include container--small;
  }

  &__header {
    padding: 0;
  }

  &__title {
    @include h1(auto);
    margin-top: $form-title-margin!important;
  }

  &__subtitle {
    @include h2;
  }

  &__caption {
    @include h2(auto);
    @include shade-color('dark-blue');
    font-weight: normal;
    //margin: $form-subtitle-margin;
  }

  &__required-label {
    @include body;
    float: right;
  }

  &__legend {
    opacity: 0;
    position: absolute;
  }

  &__body {
    padding: 0;
  }

  &__fieldset {
    @include container-padding(small);
    @include shade(1, background-color);
    border: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-top: 0;
    padding-bottom: $form-control-margin-top;
  }

  &__legend {
    margin: 0;
    padding: 0;
  }

  .form-control {
    margin-top: $form-control-margin-top
  }

  &__actions {
    @include body;
    margin-top: $form-control-margin-top;

    @include tablet {
      margin-left: $form-control-spacing;
      padding-left: $label-width;
    }
  }

  &__actions .button {
    @include mobile-only {
      width: 100%;
    }
  }

  &__actions .button {
    margin-top: $form-control-margin-top;
  }

  &__actions .button:not(:last-child) {
    margin-right: $form-control-spacing;
  }
}
