@import 'microscope/typography';
@import 'microscope/responsive';
@import 'constants';

.form-control {
  @include responsive(flex-direction, column, row);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;

  &--stacked {
    flex-direction: column;
  }

  &__header {
    @include responsive(width, 100%, $label-width);
    @include responsive(margin-bottom, $form-control-margin-top, 0);
  }

  &--stacked &__header {
    width: 100%;
  }

  &__header .label {
    padding-top: calc((#{$grid-row-height} - #{$typography-line-height-text * 1em}) / 2);
    align-self: flex-start;
    box-sizing: border-box;
  }

  &__body {
    font-size: 0;
    width: 100%;
  }

  &--stacked &__body {
    margin-bottom: $form-control-margin-top;
  }

  &:not(#{&}--stacked) &__body {
    @include tablet {
      //@include body;
      margin-left: $form-control-spacing !important;
      width: calc(100% - #{$label-width} - #{$form-control-spacing});
    }
  }

  &__body > * {
    width: 100%;
  }

  .input, .select, .textarea {
    z-index: 10;
  }

  &:not(#{&}--compact) {
    .input, .input__filepicker, .select {
      &:not([type=checkbox]):not([type=radio]) {
        @include rows(1);
      }
    }
  }

  & &__body .input + .input {
    @include border(top, $style: dashed);
  }

  &__choices {
    @include responsive(flex-direction, column, row);
    display: flex;
  }

  &--choices-stacked &__choices {
    flex-direction: column;
  }

  &--choices-stacked &__choices .checkbox,
  &--choices-stacked &__choices .radio {
    &:not(:last-child) {
      margin-bottom: $form-control-margin-top;
    }
  }

  &__choices > * {
    @include mobile-only {
      margin-bottom: $input-padding-h;

      &:first-child {
        margin-top: $input-padding-h;
      }
    }
  }

  &:not(#{&}--choices-stacked) &__choices > *:not(:last-child) {
    margin-right: $input-padding-h;
  }

  &__link {
    @include anchor;
  }
}
