@import 'microscope/grid';
@import 'microscope/transform';
@import 'constants';
@import 'mixins';

.input {
  @include input;

  &:not([type=checkbox]):not([type=radio]) {
    appearance: none;
    line-height: 1.5 !important;
  }

  &[type*=date] {
    background-image: url('../components/form/date.png') !important;
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    padding-right: $grid-row-height + $input-padding-h;
  }

  &[type=file] {
    opacity: 0;
    position: absolute;
    height: 0;
  }

  &--hidden {
    position: absolute;
    visibility: hidden;
  }

  &__filepicker {
    @include input;
    background-image: url('../components/form/dropdown.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    content: attr(value);
  }
}
