@import 'microscope/color';
@import 'microscope/grid';
@import 'constants';
@import 'mixins';

.select {
  @include input;
  padding-right: $grid-row-height + $input-padding-h;

  &::-ms-expand {
    display: none;
  }

  &:not([multiple]) {
    background: $select-background-dropdown, $input-background-button;
    @include color-background;
  }

  &--light#{&}:not([multiple]) {
    background: $select-background-dropdown-gray;
    @include color-background;
  }

  &[multiple],
  &--multiple {
    @include rows(3, min-height);
    padding: 0 !important;
  }

  &--big {
    @include rows(1, line-height);
  }

  &--big-responsive {
    @include laptop {
      @include rows(1, line-height);
    }
  }

  &__option {
    padding: 0 $input-padding-h;
  }
}
