@import 'microscope/grid';
@import 'mixins';

.select {
  @include input;
  padding-right: $grid-row-height + $input-padding-h;

  &::-ms-expand {
    display: none;
  }

  &:not([multiple]) {
    background-image: url('../components/form/dropdown.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &[multiple],
  &--multiple {
    @include rows(3, min-height);
    padding: 0!important;
  }

  &__option {
    padding: 0 $input-padding-h;
  }
}
