{% spaceless %}{% load static %}
{# Common CSS files. #}
<link rel="stylesheet" href="{% static 'rijkshuisstijl/bundles/footer-css.css' %}">
<link rel="stylesheet" href="{% static 'rijkshuisstijl/bundles/header-css.css' %}">
<link rel="stylesheet" href="{% static 'rijkshuisstijl/bundles/login-bar-css.css' %}">
<link rel="stylesheet" href="{% static 'rijkshuisstijl/bundles/logo-css.css' %}">
<link rel="stylesheet" href="{% static 'rijkshuisstijl/bundles/menu-css.css' %}">
<link rel="stylesheet" href="{% static 'rijkshuisstijl/bundles/navigation-bar-css.css' %}">
<link rel="stylesheet" href="{% static 'rijkshuisstijl/bundles/skiplink-css.css' %}">
<link rel="stylesheet" href="{% static 'rijkshuisstijl/bundles/view-css.css' %}">
{% endspaceless %}
