@import '../../lib/grid';
@import '../../lib/typography';
@import 'constants';


.login {
  @include container(flex, false);
  @include container--big(false);
  align-items: center;
  background-color: $login-color-background;
  min-height: 32px;
  text-align: right;

  &__body {
    @include body;
    @include container;
    margin: 0 auto;
  }

  &__link {
    @include anchor;
    margin-left: $login-spacing;
  }

  &__link--secondary {
    color: $login-color-link-secondary;
  }
}
