@import 'microscope/color';
@import 'microscope/grid';
@import 'microscope/responsive';
@import 'microscope/transform';
@import 'microscope/typography';
@import 'microscope/util';
@import '../../settings/color';
@import '../../settings/lib/ro-shade';
@import '../../settings/lib/sticky';
@import '../button/constants';
@import '../form/constants';
@import '../header/constants';
@import '../icon/mixins';
@import '../toolbar/constants';


$datagrid-spacing: 0.4em;
$datagrid-offset-caption-mobile: $header-height-mobile;


.datagrid {
  @include border(all);
  position: relative;
  display: flex;
  flex-direction: column;

  &--fit {
    width: 100%;
  }

  &--scroll {
    max-height: 50vh;
  }

  &__header,
  &__footer {
    flex-shrink: 0;
  }

  &__header {
    @include sticky;
    z-index: 10;
  }

  &__footer {
    @include sticky(0, 'bottom');
  }

  &__infobar {
    @include outline;
    @include border(all);
    background-color: $toolbar-color-background;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: $datagrid-spacing;
  }

  .toolbar:empty {
    display: none;
  }

  &--fit &__form {
    height: 100%;
  }

  &--fit &__body {
    height: calc(100% - #{2* $grid-row-height});
  }

  &--overflow &__body {
    overflow: auto;
  }

  &--overflow-mobile &__body {
    @include mobile-only {
      overflow: auto;
    }
  }

  &__title {
    @include h4;
    @include color-primary;
  }

  &__count {
    display: flex;
    align-items: center;
  }

  &__number,
  &__text {
    @include ellipsis;
    @include h4;
    @include color-primary;
    font-weight: normal;
    margin-left: $datagrid-spacing;
  }

  &__table {
    @include outline;
    border-collapse: collapse;
    width: 100%;
  }

  &--fixed &__table {
    table-layout: fixed;
  }

  &__row {
    @include color-background;
  }

  &__thead &__row {
    @include border(all);
  }

  @each $color-name, $color in $colors {
    &__row--#{$color-name} &__cell:first-child:before {
      @include overlay;
      content: '';
      width: 4px;
      background-color: $color;
    }

    &__row--#{$color-name} &__cell--modifier {
      color: $color;
    }
  }

  &__table-body &__row:not(&__row--placeholder):hover {
    @include color-info(background-color);
  }

  &__caption,
  &__filter,
  &__cell {
    @include body;
    @include body--small;
    @include border;
    box-sizing: border-box;
    padding: $datagrid-spacing;
    position: relative;
    text-align: left;

    &--checkbox {
      text-overflow: clip;
      width: calc(#{$checkbox-size} + 2 * #{$datagrid-spacing});
    }
  }

  &--ellipsis &__caption,
  &--ellipsis &__cell {
    @include ellipsis;
  }

  &__caption,
  &__filter {
    @include outline;
    background-color: $toolbar-color-background;
    z-index: 10;
  }

  &__caption {
    @include sticky('#{$toolbar-spacing} * 2 + #{$button-height-small}');

    &--orderable {
      @include anchor(true);
    }
  }

  &__filter {
    @include sticky('#{$toolbar-spacing} * 2 + #{$button-height-small} + #{$datagrid-filter-height}');
    padding: 0;

    .input {
      width: 100%;
      height: $datagrid-filter-height;
      padding: $datagrid-spacing;

      &[value] {
        @include color-info(background-color);
      }
    }
  }

  &--overflow-mobile &__filter {
    @include mobile-only {
      position: static;
    }
  }


  &__caption--orderable {
    padding: 0;

    &:after {
      @include center-v;
      transform: tr_translate(null, -50%) tr_scale(0.5);
      right: $datagrid-spacing;
    }
  }

  &__caption--ordered-asc,
  &__caption--ordered-desc {
    background-color: $toolbar-color-border;
  }

  &__caption--ordered-asc {
    @include ro-icon-after('delta-omhoog');
  }

  &__caption--ordered-desc {
    @include ro-icon-after('delta-omlaag');
  }

  &__caption--orderable &__link {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $datagrid-spacing;
    padding-right: $datagrid-spacing * 4;
  }

  &--overflow &__caption {
    position: static;
  }

  &--overflow-mobile &__caption {
    @include mobile-only {
      position: static;
    }
  }

  &__row--nomatch:not(&__row--placeholder) &__cell {
    opacity: 0.5;
  }

  &__row--placeholder &__cell {
    @include shade(3, color);
    text-align: center;
  }

  &__cell a,
  &__link {
    @include anchor(true);
  }

  &__caption &__link {
    color: inherit;
  }
}
