@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import '~microscope-sass/lib/color';
@import '~microscope-sass/lib/grid';
@import '~microscope-sass/lib/responsive';
@import '~microscope-sass/lib/transform';
@import '~microscope-sass/lib/typography';
@import '~microscope-sass/lib/util';
@import '../../settings/color';
@import '../../settings/lib/ro-shade';
@import '../../settings/lib/sticky';
@import '../button/constants';
@import '../form/constants';
@import '../header/constants';
@import '../icon/mixins';
@import '../toolbar/constants';


$datagrid-offset-caption: $grid-row-height;
$datagrid-offset-filter-tablet: $typography-line-height-text-small-tablet * $typography-font-size-text-small-tablet;
$datagrid-offset-filter-desktop: $typography-line-height-text-small-desktop * $typography-font-size-text-small-desktop;
$datagrid-spacing: $grid-container-padding;
$datagrid-spacing-row-h: $datagrid-spacing;
$datagrid-spacing-row-v: calc((#{$grid-row-height} - #{$typography-line-height-text} * 1em) / 2);
$datagrid-spacing-cell-h: ($datagrid-spacing-row-h / 2) + $datagrid-spacing-row-h;

.datagrid {
  position: relative;
  display: flex;
  flex-direction: column;

  &--fit {
    width: 100%;
  }

  // FIXME
  &--scroll {
    max-height: 50vh;
  }

  &__header,
  &__footer {
    flex-shrink: 0;
  }

  &__header {
    z-index: 10;
  }

  &__footer {
    @include tablet {
      @include sticky(0, 'bottom');
    }
  }

  .toolbar:empty {
    display: none;
  }

  &--fit &__form {
    height: 100%;
  }

  &--fit &__body {
    height: calc(100% - #{2* $grid-row-height});
  }

  &--overflow &__body {
    overflow: auto;
  }

  &--overflow-mobile &__body {
    @include mobile-only {
      overflow: auto;
    }
  }

  &__title {
    @include h4;
  }

  &__table {
    border-collapse: collapse;
    width: 100%;
  }

  &--fixed &__table {
    table-layout: fixed;
  }

  &__row--cells:not(&__row--placeholder):hover {
    @include color-info(background-color);
  }

  @each $color-name, $color in $colors {
    &__row--#{$color-name} &__cell:first-child:before {
      @include overlay;
      content: '';
      width: 4px;
      background-color: $color;
    }

    &__row--#{$color-name} &__cell--modifier {
      color: $color;
    }
  }

  &__caption,
  &__filter,
  &__cell {
    @include body;
    box-sizing: border-box;
    position: relative;
    text-align: left;

    &--checkbox {
      text-overflow: clip;
      width: calc(#{$checkbox-size} + 2 * #{$datagrid-spacing});
    }
  }

  &--ellipsis &__caption,
  &--ellipsis &__cell {
    @include ellipsis;
  }

  &__caption,
  &__filter {
    background-color: $toolbar-color-background;
    z-index: 10;
  }

  &__caption {
    @include body--small;
    @include color-background;
    @include shade(3, color);
    padding: 0 $datagrid-spacing-row-h / 2;

    &:first-child {
      padding-left: $datagrid-spacing-row-h;
    }

    &:last-child {
      padding-right: $datagrid-spacing-row-h;
    }
  }

  &__caption#{&}__caption--checkbox {
    padding-left: $datagrid-spacing-row-h * 2;
  }

  &__caption--ordered-asc,
  &__caption--ordered-desc {
    @include anchor(true);
  }

  &__caption--group {
    z-index: -10;
  }

  &__filter {
    @include shade(1, background-color);
    padding: $datagrid-spacing-row-v $datagrid-spacing-row-h / 2;

    @include tablet {
      @include sticky;
    }

    @include desktop {
      @include sticky;
    }

    &:first-child {
      padding-left: $datagrid-spacing-row-h;
    }

    &:last-child {
      padding-right: $datagrid-spacing-row-h;
    }

    .input,
    .select {
      width: 100%;
      height: $datagrid-filter-height;
      padding: 0 $datagrid-spacing-row-h;

      &[select],
      &[value] {
        @include color-info(background-color);
      }
    }
  }

  &--overflow-mobile &__filter {
    @include mobile-only {
      position: static;
    }
  }

  &__caption--orderable &__icon {
    @extend .fas;
    @extend .fa-sort;
    @include center-v;
    right: $datagrid-spacing-row-h;
  }

  &__caption--ordered-asc &__icon {
    @extend .fa-sort-up;
  }

  &__caption--ordered-desc &__icon:before {
    @extend .fa-sort-down;
  }

  &__caption--orderable &__link {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &--overflow &__caption {
    position: static;
  }

  &--overflow-mobile &__caption {
    @include mobile-only {
      position: static;
    }
  }

  &__subtitle {
    @include h2($datagrid-spacing);
    @include rows(1, margin-top);
  }

  &__cell {
    @include border;
    padding: $datagrid-spacing-row-v $datagrid-spacing-cell-h;
    position: relative;

    &:first-child:not(#{&}--checkbox) {
      padding-left: $datagrid-spacing-row-h * 2;
    }

    &:last-child {
      padding-right: $datagrid-spacing-row-h * 2;
    }
  }

  &__table-head--group + &__table-body &__row:first-child &__cell {
    @include border(top);
  }

  &__row--nomatch:not(&__row--placeholder) &__cell {
    opacity: 0.5;
  }

  &__row--placeholder &__cell {
    @include shade(3, color);
    text-align: center;
  }

  &__cell a,
  &__link {
    @include anchor(true);
  }

  &__caption &__link {
    @include ellipsis;
    color: inherit;
    margin-right: $datagrid-spacing-cell-h;
  }

  &__label {
    @include body;
  }

  .toolbar .checkbox {
    margin-left: calc(#{$datagrid-spacing-cell-h} - #{$datagrid-spacing-row-h});
    margin-right: $datagrid-spacing-row-h;
  }

  .toolbar__list-item:not(:last-child) {
    margin-right: $datagrid-spacing-row-h;
  }

  .toolbar .select {
    @extend .select--bordered;
  }

  .toolbar &__result-count {
    @include body;
    @include hide-on-mobile;
    @include shade(3, color);
  }
}
