@import 'microscope/grid';
@import 'microscope/responsive';
@import 'microscope/util';

@mixin layout {
  @include container;

  &__section--flex {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
  }
}
