@import './settings/all';
@import './components/all';


//
// Some print hacks. Might need refactoring later.
//
@media print {
  * {
    font-family: "RO Serif" !important;
  }

  @page {
    margin: 1cm;
  }

  @page :first {
    margin-top: 52mm;
  }
}
